<!DOCTYPE html>
<html>
<head>

  <title>Graves</title>

  <%= stylesheet_link_tag "/stylesheets/#{params[:controller]}" %>
  <%= csrf_meta_tags %>
  <%= typekit_include_tag 'enx1sko' %>

</head>
<body>

  <%= yield %>
  <%= javascript_include_tag "/javascripts/#{params[:controller]}" %>

</body>
</html>
