<!DOCTYPE html>
<html>
<head>

  <title>Graves</title>

  <%= stylesheet_link_tag "dist/#{params[:controller]}", media: 'all' %>
  <%= csrf_meta_tags %>

  <%= typekit_include_tag 'enx1sko' %>

</head>
<body>

  <%= yield %>
  <%= javascript_include_tag "dist/#{params[:controller]}" %>

</body>
</html>
